# Firebase
FB_CRED=/path/to/serviceAccountKey.json
FB_DB_URL=https://<project>-default-rtdb.asia-southeast1.firebasedatabase.app
# AMR 네임스페이스
PRIMARY_NS=robot6
SECONDARY_NS=amr2
# 웹 인증/CORS
INTEL_PASSWORD=rokey1234
INTEL_AUTH_TOKEN=intel-demo-token-2026
FRONTEND_ORIGIN=https://intel.thatshoon.com
COOKIE_SECURE=1
PORT=5000
# 맵 파일(있으면 서빙)
MAP_PNG=/home/rokey/MediCart/web/backend/maps/ward_map.png
MAP_YAML=/home/rokey/MediCart/web/backend/maps/ward_map.yaml
